<div class="container divPergunta">
    <div class="card custom-card">
        <div class="card-header custom-card-header">
            <h4>Faça sua pergunta:</h4>
        </div>
        <div class="card-body">
            <!-- Metodo POST, dados passados na requisição - seguro, Metodo GET, passados nas URL, inseguro.
                 Action é a rota onde irá salvar os dados-->
            <form method="POST" action="/salvaDadoPerguntas">
                <br><label>Título:</label>
                <br><input type="text" placeholder="Escreva o título da sua pergunta" class="form-control">
                <br><label>Descrição:</label>
                <br><textarea placeholder="Descreve acerca da sua pergunta" class="form-control"></textarea>
                <br><button class="btn btn-danger">Enviar</button>
            </form>
        </div>
    </div>
</div>